C:\Users\ssyda\IdeaProjects\astensity-minecraft\cache
C:\Users\ssyda\IdeaProjects\astensity-minecraft\logs
C:\Users\ssyda\IdeaProjects\astensity-minecraft\world
C:\Users\ssyda\IdeaProjects\astensity-minecraft\world_nether
C:\Users\ssyda\IdeaProjects\astensity-minecraft\world_the_end
C:\Users\ssyda\IdeaProjects\astensity-minecraft\banned-ips.json
C:\Users\ssyda\IdeaProjects\astensity-minecraft\banned-players.json
C:\Users\ssyda\IdeaProjects\astensity-minecraft\ops.json
C:\Users\ssyda\IdeaProjects\astensity-minecraft\usercache.json
C:\Users\ssyda\IdeaProjects\astensity-minecraft\whitelist.json