cache/
logs/
world/
world_nether/
world_the_end/
banned-ips.json
banned-players.json
ops.json
usercache.json
whitelist.json
plugins/EssentialsGeoIP/GeoIP2-Country.mmdb
.idea/workspace.xml
plugins/AsyncWorldEdit/undo
plugins/Essentials/userdata
plugins/Essentials/usermap.csv
plugins/PluginMetrics
plugins/AuthMe/authme.db
plugins/AuthMe/authme.log
plugins/AuthMe/GeoLite2-Country.mmdb
plugins/FastLogin/FastLogin.db
server.properties
plugins/mcMMO/backup
plugins/mcMMO/flatfile
plugins/MiniaturePets/data
plugins/Jobs/jobs.sqlite.db
plugins/DeluxeTags/userdata
plugins/CoreProtect/database.db
plugins/AuthMe/playerdata
plugins/Multiverse-Core/worlds.yml
plugins/Towny/backup
plugins/TheNewEconomy/Economy.mv.db
plugins/LWC/lwc.db
plugins/LWC/backups
plugins/React/worlds
plugins/dynmap/worlds.txt
plugins/Multiverse-Core/worlds.yml
plugins/Towny/data
plugins/NoCheatPlus/nocheatplus.log.lck
plugins/NoCheatPlus/nocheatplus.log
plugins/LWC/lwc.db.old
plugins/CommandButtons/data.yml