*.bak*
*.dat*
*.data*
*.db*
*.log*
*.sqlite*
.idea/workspace.xml
banned-ips.json
banned-players.json
cache/
logs/
ops.json
plugins/AdvancedAchievements/config.yml.bak
plugins/AsyncWorldEdit/undo
plugins/AuthMe/authme.db
plugins/AuthMe/authme.log
plugins/AuthMe/GeoLite2-Country.mmdb
plugins/AuthMe/playerdata
plugins/ChestShop/items.db
plugins/ChestShop/users.db
plugins/CommandButtons/data.yml
plugins/CoreProtect/database.db
plugins/CrazyCrates/data.yml
plugins/CrazyCrates/Locations.yml
plugins/CrazyCrates/Schematics
plugins/DeluxeTags/userdata
plugins/dynmap/web/standalone
plugins/dynmap/worlds.txt
plugins/Essentials/userdata
plugins/Essentials/usermap.csv
plugins/Essentials_WarpGUI/warps.cfg
plugins/Essentials_WarpGUI/warps.yml
plugins/EssentialsGeoIP/GeoIP2-Country.mmdb
plugins/FastLogin/FastLogin.db
plugins/Jobs/jobs.sqlite.db
plugins/LWC/backups
plugins/LWC/lwc.db
plugins/LWC/lwc.db.old
plugins/mcMMO/backup
plugins/mcMMO/flatfile
plugins/Minepacks/backpack.db
plugins/MiniaturePets/data
plugins/Multiverse-Core/worlds.yml
plugins/NoCheatPlus/nocheatplus.log
plugins/NoCheatPlus/nocheatplus.log.lck
plugins/PluginMetrics
plugins/React/worlds
plugins/SAML/.chunk-cache
plugins/SAML/frozen-chunks
plugins/ShopGUIPlus/lang.yml
plugins/TheNewEconomy/Economy.mv.db
plugins/TimeVote/Stats.yml
plugins/Towny/backup
plugins/Towny/data
plugins/WeatherVote/Stats.yml
plugins/Wild/Biomes.txt
server.properties
spawn/
spawn
usercache.json
version_history.json
whitelist.json
world/
world_nether/
world_the_end/
plugins/dynmap/custom-lightings.txt
plugins/dynmap/custom-perspectives.txt
plugins/dynmap/custom-shaders.txt
plugins/dynmap/lightings.txt
plugins/dynmap/perspectives.txt
plugins/dynmap/shaders.txt
plugins/dynmap/version.txt
plugins/dynmap/colorschemes
plugins/dynmap/export
plugins/dynmap/markers
plugins/dynmap/renderdata
plugins/dynmap/templates
plugins/dynmap/texturepacks
plugins/dynmap/web
plugins/dynmap/worlds.txt